# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
Dockerfile
docker-compose.yml
.docker
.dockerignore

# Non-frontend directories
mdc-backend
zt-bridge

# Misc
README.md
*.md
*.docx
coverage
.DS_Store
Thumbs.db
